{% extends 'p_library/base.html' %}
{% block content %}
    {% for redaction in redactions %}
    <div class="list">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>{{ redaction.name }}</h1>
                <ul class="list-group">
                    {% for book in redaction.book_house.all %}
                        <li class="list-group-item">{{ book.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
    {% endfor %}
{% endblock %}